/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: larger;
  gap: 30px; /* Adjusted gap for better spacing */
}

.nav-item button {
  border: none;
  font-size: larger;
  color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-item button:hover {
  color: var(--frame-color);
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.theme-toggle {
  background: none;
  color: var(--contact-color);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.5s ease-in-out;
  padding: 10px;
}

.theme-toggle:hover {
  opacity: 0.8;
}

.theme-toggle.rotating {
  animation: rotateAnimation 0.5s ease-in-out;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px; /* Reduced padding for smaller screens */
  }

  .nav-list {
    margin: 0; /* Remove margin for smaller screens */
    flex-direction: column;
    gap: 10px; /* Reduced gap for a more compact layout */
    text-align: center; /* Center-align text for better readability */
  }

  .nav-item button {
    font-size: 1rem; /* Smaller font size for better fit */
    padding: 8px 12px; /* Adjust padding for smaller buttons */
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px; /* Further reduced padding */
  }

  .nav-list {
    gap: 5px; /* Further reduced gap */
  }

  .nav-item button {
    font-size: 0.9rem; /* Even smaller font size */
    padding: 6px 10px; /* Smaller padding */
  }

  .theme-toggle {
    font-size: 1.2rem;
    padding: 8px; /* Smaller padding */
  }
}
