/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-list {
  margin-left: 200px;
  list-style: none;
  display: flex;
  font-size: larger;
  gap: 50px;
}

.nav-item button {
  border: none;
  font-size: larger;
  color: var(--text-color); /* Set text color based on --text-color variable */
  background-color: transparent; /* Ensure button background is transparent */
  text-decoration: none; /* Remove default text decoration */
}

.nav-item button:hover {
  color: var(--frame-color); /* Use the --frame-color variable for hover effect */
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.theme-toggle {
  background: none;
  color: var(--contact-color);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.5s ease-in-out;
}

.theme-toggle:hover {
  opacity: 0.8;
}

.theme-toggle.rotating {
  animation: rotateAnimation 0.5s ease-in-out;
}
