/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-list {
  margin-left: 200px;
  list-style: none;
  display: flex;
  font-size: larger;
  gap: 50px;
}

.nav-item button {
  border: none;
  font-size: larger;
  color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-item button:hover {
  color: var(--frame-color);
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.theme-toggle {
  background: none;
  color: var(--contact-color);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.5s ease-in-out;
  padding: 10px;
}

.theme-toggle:hover {
  opacity: 0.8;
}

.theme-toggle.rotating {
  animation: rotateAnimation 0.5s ease-in-out;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav-list {
    margin-left: 0;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .nav-item button {
    font-size: medium;
  }

  .theme-toggle {
    font-size: 1.2rem;
  }
}
