@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --background-color-light: #f0f0f0;
  --background-color-dark: #0D2149;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --frame-color-light: #3066be;
  --frame-color-dark: beige;
  --transition-duration: 0.4s;
}

.light {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --frame-color: var(--frame-color-light);
  --contact-color: var(--background-color-dark);
  --contact-text-color: var(--text-color-dark);
}

.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --frame-color: var(--frame-color-dark);
  --contact-color: var(--background-color-light);
  --contact-text-color: var(--text-color-light);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-duration) ease, 
              color var(--transition-duration) ease;
}
/* Apply transition to all elements */
* {
  transition: background-color var(--transition-duration) ease, 
              color var(--transition-duration) ease,
              border-color var(--transition-duration) ease;
}


code {
  font-family: 'Open Sans', sans-serif;
}

.theme-transition {
  animation: rotateAnimation 1s ease-in-out; /* Circular motion animation */
}
